.pages{
	float: right;
	margin-top: 15px;
}
.pages span {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
	color: #2EB7A7;
}
.pages input{
	width: 70px;
}
.go{
	color: #ff0000 !important;
}


.pages2{
	float: right;
	margin-top: 15px;
}
.pages2 span {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
	color: #2EB7A7;
}
.pages2 input{
	width: 70px;
}
.go2{
	color: #ff0000 !important;
}
.pages3{
	float: right;
	margin-top: 15px;
}
.pages3 span {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
	color: #2EB7A7;
}
.pages3 input{
	width: 70px;
}
.go3{
	color: #ff0000 !important;
}
.pages4{
	float: right;
	margin-top: 15px;
}
.pages4 span {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
	color: #2EB7A7;
}
.pages4 input{
	width: 70px;
}
.go4{
	color: #ff0000 !important;
}
.pages5{
	float: right;
	margin-top: 15px;
}
.pages5 span {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
	color: #2EB7A7;
}
.pages5 input{
	width: 70px;
}
.go5{
	color: #ff0000 !important;
}