.top{
	background-color: #E4E4E4;
	text-align: center;
	line-height:40px;
	height:50px;
}
span{
	font-size:20px;
	color:#2EC0C7;
}
h1{
	color:#2EC0C7;
	font-size:20px;
	margin-left: 15px;
	margin-bottom: 30px;
}
.row{
	border-bottom: 1px solid #ccc;
}
.row1{
	margin:0 5px;
}
.food{
	display:inline-block;
}
.food1{
	margin-left:15px;
}
