.top, .center, footer{
	background-color: #fff;
	box-shadow: 0 10px 20px #D5DEE5;
}
/*----------top----------*/
.headAdvisor{
	width:60px;
	height:60px;
	margin:10px 20px;
}
#name{
	margin-top:10px;
}
.top{
	margin-bottom: 20px;
}
/*----------center-------*/
.center{
	margin:0 10px 10px 10px;
	border-radius:10px;
	box-shadow: 0 10px 20px #D5DEE5;
	position:relative;
	/*padding:10px 20px 30px 20px;*/
}
.time{
	color:#C0C0C0;
	float:right;
}
.tip{
	border-radius:10px;
	box-shadow: 0 5px 10px #EEEEEE;
	padding:10px;
}
.wrap{
	padding:10px 20px 30px 20px;
}
.log{
	width:50px;
	height:50px;
}
.advisor{
	font-size:14px;
	font-weight:bold;
}
.weight{
	font-size: 10px;
}
/*----------down---------*/


/*----------footer-------*/
/*.f1{
	text-align:center;
}
.f2{
	padding:20px 0 0 0;
}
.foot-img{
	width:60px;
	height:60px;
	margin-top:10px;
}
.f3{
	padding:10px 0 0 0;
}
.tel{
	height:60px;
	line-height:60px;
	background-color:#35D58B;
	color:#fff;
	border-radius: 35px;
	width:90%;
}
.tel-img{
	width:30px;
	height:30px;
	margin:0 10px;
}
*/